body {
    margin: 0;
}

nav {
    padding: 33px 50px;
    border-bottom: solid 1px #F0F0F0;
    margin-bottom: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

#heroButton {
    background-color: #4262FF;
    color: #FFFFFF;
}

#heroButton:active {
    color:#ff424b
}

.heroForm input:focus {
    background-color: #ee790b;
}

.link {
    color: #4262FF;
    text-decoration: underline;
}

.link:hover {
    color: #ff424b;
}

h1 {
    margin: 0 0 17px 0;
}

h1, h2 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1px;
    color: #050038;
}

p{
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
}

.heroForm + p {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #050038;
    margin-bottom: 8px 0 52px 0;
}

.heroForm input {
    border-radius: 32px;
    border: 1px solid #9B99AF; 
    height: 38px;
    padding: 5px 10px; 
}

.heroForm button {
    border-radius: 32px;
    border: 1px solid #4262FF;
    height: 48px;
    padding: 10px 20px;
}

.heroForm {
   
}

.heroText {
    color: #050038;
    margin: 0 0 55px 0;
}

.sectionText {
    color: #05003899
}

header a {
font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-decoration: none;
color: #050038;
}

.sectionList {
    list-style-image: url('/1-Miro/img/sectionList.svg');
}